/* Variables */
:root {

  --bred: 1px solid red;

}


/* Use this class to see what area the element in the page covers if you need it.  */
.bred {
  border: var(--bred);
}
/* Change to uppercase class */
.ttupper {
  text-transform: uppercase;
}

/************************** Navbar */
/* Gabriela */

/************************** Header carousel */
/* Sujana */

/************************** Image card gallery */


/************************** Footer form and text */
/* Daiden */

/************************** Recipe section */
/* Anseln */