/* Variables */
:root {

  --bred: 1px solid red;
  --pink: #9c2f54;
  --dark-pink: #5b1a2f;
  --light-pink: #d0cecf;
  --text-lighter: #9e9e9e;
  --icon-primary: #9c2f54;
  --icon-hover: #016673;


}


/* Use this class to see what area the element in the page covers if you need it.  */
.bred {
  border: var(--bred);
}
/* Change to uppercase class */
.text-pink {
  color: #9c2f54;
}

.text-lighter {
  color: var(--text-lighter);
}

.text-light-pink {
  color: var(--light-pink);
}

/* border top class with pink */
.bt-pink {
  border-top: 1px solid var(--dark-pink);
}

.text-justify {
  text-align: justify;;
}



/************************** Navbar */
/* Gabriela */

/************************** Header carousel */
/* Sujana */
.carousel-item {
  height: 50vh;
}

/************************** Image card gallery */


/************************** Footer form and text */
/* Daiden */
.form-control {
  border-color: rgb(68, 1, 70);
  background-color: #343333;
}

.form-control:focus {
  color: #fbe9e7;
  background-color: #424242;
  border-color:rgb(52, 51, 51)
}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label {
  opacity: .9;
}

/* button */
.btn-outline-pink {
  color: #9c2f54;
  border: 1px solid #9c2f54;
  /* background-color: #777; */
}

.btn-outline-pink:hover {
  color: #bd3d68;
  border: 1px solid #b15271;
  background-color: #343333;;
}

/* icons */
i.bi {
  color: var(--icon-primary);
  font-size: 2rem;
  transition: all 0.3s ease-out;
  position:relative;
}

footer .social-icons li:hover i.bi {
/* i.bi:hover { */
  color: var(--icon-hover);
  /* font-size: 2.4rem; */
  transform: translateY(-12px) scale(1.4);
}

footer .social-icons {
  display: flex;
  justify-content: center;
}

footer .social-icons li  {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: 3px solid var(--icon-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

footer .social-icons li:hover {
  border-color: var(--icon-hover);
  transform: translateY(-2px) scale(1.1);
}



/************************** Recipe section */
/* Anseln */